gamstransfer/src/*.o
gamstransfer/src/*.so
*.gdx
!gamstransfer/inst/extdata/*.gdx
!gamstransfer/tests/testthat/testdata/*.gdx
*.gms
*.lst
*.Rhistory
*.RData
gamstransfer/autom4te.cache
gamstransfer/config.log
gamstransfer/config.status
gamstransfer/src/Makevars
docs/_build
