useDynLib(gamstransfer, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(R6,R6Class)
importFrom(collections, dict)
import(R.utils)
S3method(`[`, .BaseContainer)
S3method(`[<-`, .BaseContainer)
